#include "resource.hpp"

#include <windows.h>

IDD_HEKTO_CONFIG DIALOG 0, 0, 150, 165
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Konfiguration"
FONT 8, "MS Sans Serif"
BEGIN
  CHECKBOX   "&Beidseitig beschriften",           IDC_BEIDSEITIG,      10, 10, 130, 15, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX   "&Kleine Ausfuehrung",               IDC_KLEIN,           10, 25, 130, 15, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX   "&Rueckstrahlend",                   IDC_RUECKSTRAHLEND,  10, 40, 130, 15, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX   "&Ankerpunkt fuer NBUe-Kennzeichen", IDC_ANKERPUNKT,      10, 55, 130, 15, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX   "&Immer ohne Mast",                  IDC_IMMER_OHNE_MAST, 10, 70, 130, 15, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX   "Basis fuer &Ueberlaenge:",          IDC_HAT_UEBERLAENGE, 10, 88, 130, 12, BS_AUTOCHECKBOX | WS_TABSTOP
  LTEXT      "km",                                0,                   20, 103, 10, 10, WS_CHILD | WS_VISIBLE
  EDITTEXT                                        IDC_BASIS_KM,        35, 100, 30, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LTEXT      "hm",                                0,                   70, 103, 10, 10, WS_CHILD | WS_VISIBLE
  EDITTEXT                                        IDC_BASIS_HM,        85, 100, 30, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  LTEXT      "Textur",                            0,                   10, 124, 35, 10, WS_CHILD | WS_VISIBLE
  COMBOBOX                                        IDC_TEXTUR,          40, 121, 100, 15, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  PUSHBUTTON "&OK",                               IDOK,                90, 141, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
